{{> header}}	
    
    <div class="destinations" id="destinations">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title"><h2>My Trips</h2></div>
				</div>
			</div>
			<div class="row destinations_row">
				<div class="col">
					<div class="destinations_container item_grid">

						
						{{#each trip}}
                        <div class="destination item">
							<div class="destination_image">
								<img src="images/destination_1.jpg" alt="">
								<div class="spec_offer text-center"><a href="#">Special Offer</a></div>
							</div>
							<div class="destination_content">
								<div class="destination_title"><a href="#">Depart from: {{this.origin}}</a></div>
                                <div class="destination_title"><a href="#">Destination: {{this.destination}}</a></div>
								<div class="destination_price">{{../currency}} {{this.value}}</div>
								<div class="destination_list">
									<ul>
										<li>Depart: {{this.depart_date}}</li>
										<li>Return: {{this.return_date}}</li>
										<li>Connections: {{this.number_of_changes}} </li>
									</ul>
								</div>
                                <div>
                                <form method="POST" action="/add">
                                <input type="hidden" name="origin" value="{{this.origin}}">
                                <input type="hidden" name="destination" value="{{this.destination}}">
                                <input type="hidden" name="value" value="{{../currency}} {{this.value}}">
                                <input type="hidden" name="depart_date" value="{{this.depart_date}}">
                                <input type="hidden" name="return_date" value="{{this.return_date}}">
                                <input type="hidden" name="number_of_changes" value="{{this.number_of_changes}}">
                                <button class="home_search_button" type="hidden" onclick="location.href='http://{{this.gate}}'" name="gate" value="{{this.gate}}">Buy</button>
                                </form>
                                </div>
                                <div>
                                <li style="display:none;">{{this.origin}}</li>
                                <li style="display:none;">{{this.destination}}</li>
                                <li style="display:none;">{{this.value}}</li>
                                <li style="display:none;">{{this.depart_date}}</li>
                                <li style="display:none;">{{this.return_date}}</li>
                                <li style="display:none;">{{this.number_of_changes}}</li>
                                <button class="home_search_button" onclick="location.href='/delete?tripId={{id}}'" name="deleteTrip" value="Delete">Delete</button>
                                </div>
							</div>
						</div>
                        {{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>