<h1>My trips</h1>
<a href="/signup">sign up</a><br><br>
<a href="/login">log in</a><br><br>
<a href="/logout">log out</a><br><br>
<a href="/help">help</a><br><br>
<a href="/about">about</a><br><br>
<a href="/search">search</a><br><br>
<a href="/">main</a><br><br><!--where is a logo I guess -->


{{#each trip}}
<div>
    <li>{{this.origin}}</li>
    <li>{{this.destination}}</li>
    <li>{{this.value}}</li>
    <li>{{this.depart_date}}</li>
    <li>{{this.return_date}}</li>
</div>
{{/each}}