<h3>Search page</h3>
<a href='/result'>result</a>
<!--do the last-->
<a href="/signup">sign up</a><br><br>
<a href="/login">log in</a><br><br>
<a href="/logout">log out</a><br><br>
<a href="/help">help</a><br><br>
<a href="/about">about</a><br><br>
<a href="/">main</a><br><br>
<!--where is a logo I guess -->

<!--if surprise on => you can put fromPlace, min and max days, 
if surprise off => you can put from where and depart day 
do it from DOM-->
<form method="GET">
    <input type="date" name="dateFrom" placeholder="from" id="dateFrom" value="{{dateFrom}}">
    <input type="text" required name="fromPlace" placeholder="from" id="fromPlace" value="{{fromPlace}}">
    <input type="text" name="toPlace" placeholder="toPlace" id="toPlace" value="{{toPlace}}">
    <input type="number" name="minDays" placeholder="minimum days" id="minDays" value="{{minDays}}">
    <input type="number" name="maxDays" placeholder="maximum Days" id="maxDays" value="{{maxDays}}">
    <input type="checkbox" name="surprise" id="surprise">surprise me</input><br>
    <h3>Currency:</h3>
      <select id="cur" name = "currency">
        <option value="EUR">Euro</option>
        <option value="USD">US Dollar $</option>
        <option value="RUB">Russian Rubbles</option>
    <input type="submit">
</form>

<div>
        {{#if users}}
        <h1>Hi {{firstName}} {{lastName}}</h1>
        {{/if}}
    </div>